<div class="form-card">
    <h2>Nouveau FaceSnap</h2>
    <form [formGroup]="snapForm">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" id="title" placeholder="Titre du FaceSnap" formControlName="title">
        </div>
        <div class="form-group">
            <label for="description">Déscription</label>
            <textarea type="text" id="description" placeholder="Déscription du FaceSnap" formControlName="description"
                rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="imageUrl">Url de l'image</label>
            <input type="text" id="imageURL" placeholder="Url de l'image du FaceSnap" formControlName="imageUrl">
        </div>
        <div class="form-group">
            <label for="localisation">Localisation </label>
            <input type="text" id="localisation" placeholder="Localisation du FaceSnap" formControlName="localisation">
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onSubmitForm()">Enregistrer</button>
        </div>
    </form>
</div>

@if (faceSnapPreview$ | async; as faceSnap) {
<div class="face-snap-card">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <p>Mis en ligne {{ faceSnap.dateCreation | date: 'à HH:mm, le d MMMM yyyy' }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.localisation">Photo prise à {{ faceSnap.localisation }}</p>
</div>
}